@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hidden:hover::-webkit-scrollbar {
    display: block;
  }
  
  .scrollbar-hidden::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar-hidden::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
  }
  
  .scrollbar-hidden::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }